div{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
}
.container{
    border-color: blue;
}
.row{
    border-color: red;
}
.blackbox{
/*    background-color: black;*/
/*    opacity: 0.1;*/
}
.namebox{
    margin: 240px 0px 0px 0px;
    text-align: center;
    font-size: 100px;
}
.line{
    margin: 30px 0px 0px 220px;
    width: 900px;
}
.links{
   margin-top: 50px;
   margin-left: 300px;
   text-align: center;
   font-size: 50px;
   width: 700px;
}
a{
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:red }
/*.body{
    background-color: black;
}
.containercolor{
    background-color: blue;
}*/